*,
*::after,
*::before {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-style: none;
}

html {
	font-size: 16px;
  line-height: 10px;
  font-family: sans-serif;
}

body {
	margin: 0;
}

.is-rendering {
	visibility: hidden;
	opacity: 0;
}

.Stage {
	position: relative;
}

.Stage-header {
	position: relative;
}

.Stage-form {
	position: relative;
}

.Header {
}

.Header-title {
}

.Form {
	background-color: rgb(255, 243, 153);
}

.Form-fieldset {
}

.Form-legend {
}

.Form-section {
}

.Form-input {
}

.Form-inputLabel {
}

.Form-inputBigText {
}

.Form-inputCep {
}

.Form-inputEmail {
}

.Form-inputEnumerable {
}

.Form-inputPhone {
}

.Form-inputSmallText {
}
